<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>

    <!-- Fontes -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.27/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="row">
                    <div class="col-6">
                        <span>Pesquisar</span>
                        <input class="form-control" id="find-pessoa" style="margin-bottom: 22px; margin-top: 16px;" />
                    </div>
                    <div class="col-6">
                        <button class="btn btn-info" id="find-pessoa-action" style="margin-top: 40px;">Pesquisar</button>
                    </div>
                    <div class="col-12">
                        <div class="container-funcionamento rounded overflow-auto overflow-x-hidden" style="max-height: 72vh;">
                            <div class="accordion">
            
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div style="margin-top: 12px;">
                            <button type="button" class="btn btn-success {{$cron['valor'] ? 'd-none' : ''}}" id="gerarNovaPessoa">Nova pessoa</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function(){
        function getPessoas(filter = false){
            $('.accordion').append(`
                <div class="row-pessoa-loading text-center ghost-loading" style="margin-top: 20px;">
                    
                </div>
            `)
            
            if(filter){
                $('.row-pessoa').remove()
            }
            $.getJSON(`index.php/pessoas/getPessoas?filter=${$('#find-pessoa').val()}`, function(dados){
                $('.row-pessoa-loading').remove()

                if(dados.length === 0){
                    $('.accordion').append(`
                        <div class="accordion-item row-pessoa text-center" style="margin: 10px;">
                            ${$('#find-pessoa').val() == '' ? 'Nenhuma pessoa disponível' : 'Nenhuma pessoa disponível com este filtro'}
                        </div>
                    `)
                }
                for (let data in dados) {
                    generatePessoa(dados[data])
                }
                let contador = 0;
                $(document).find('.accordion-item').each(function() {
                    if (contador < 3) {
                        getContatos($(this));
                        contador++;
                    }
                })
            })
        }
        getPessoas()
        $(document).on('click', '#find-pessoa-action', () => {getPessoas(true)})
        $("#find-pessoa").on("keydown", function(event) {
            if (event.which === 13) {
                getPessoas(true);
            }
        });
        $(document).on('click', '.accordion-item', function(){getContatos($(this))})
        function getContatos(row){
            let idPessoa = row.attr('idPessoa')
            
            if(row.attr('loaded') == 0){
                row.find('.contatos-pessoa').append(`
                    <div class="contatos-loading text-center ghost-loading" style="margin-top: 20px;">
                            
                    </div>
                `)
                $.getJSON(`index.php/contatos/getContatos?idPessoa=${idPessoa}`, function(data){
                    row.find('.contatos-salvos').remove()
                    row.find('.contatos-loading').remove()
                    data?.forEach(function(item){
                        generateContato(row, item)
                    })

                    if(data.length == 0){
                        row.find('.contatos-pessoa').append(`
                            <div class="row contatos-salvos ignore" style="margin-top: 10px;">
                                <div class="col-12 text-center" style="margin-top: 16px;">
                                    Nenhum contato encontrado
                                </div>
                            </div>
                        `)
                    }
                    row.attr('loaded', '1')
                }).fail(function() {
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro ao carregar contatos',
                    })
                })
            }
        }

        $(document).on('click', '.novo-contato', function(){
            const row = $(this).parents('.row-pessoa')

            const idPessoa = row.attr('idPessoa')
            Swal.fire({
                html: `
                    <form id="formNovoContato">
                        <span>Tipo</span>
                        <select class="form-control" id="novo-tipo-contato">
                            <option value="0">Telefone</option>
                            <option value="1">Email</option>
                        </select>
                        <span>Descrição</span>
                        <input value="" class="form-control" id="novo-pessoa-cpf" required></input>
                    </form>
                `,
                title: `Novo contato`,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: `Cancelar`,
                allowEscapeKey: false,
                preConfirm: () => {
                    validateForm($(document).find('#formNovoContato'))
                    if(!validateForm($(document).find('#formNovoContato'))){
                        return false;
                    }else{
                        Swal.close();
                        $.ajax({
                            type: "POST",
                            url: 'index.php/contatos/insertContato',
                            data: {
                                descricao: $('#novo-pessoa-cpf').val(),
                                tipo: $('#novo-tipo-contato').val(),
                                idPessoa: idPessoa,
                            },
                            success: function(data){
                                if(data.message == 'SUCCESS'){
                                    Swal.close();
                                    Swal.fire(
                                        `Novo contato criado`,
                                        '',
                                        'success'
                                    )
                                }else{
                                    Swal.close();
                                    Swal.fire(
                                        `${data.message}`,
                                        '',
                                        'warning'
                                    )
                                }
                                row.attr('loaded', '0')
                                getContatos(row)
                                return true
                            },
                            error: function(){
                                Swal.fire(
                                    `Erro`,
                                    '',
                                    'warning'
                                )
                            },
                            dataType: 'json'
                        });
                    }
                    return false;
                }
            })

        })

        function generateContato(row, item){
            row.find('.contatos-salvos.ignore').remove()
            if(row.find(`.contatos-pessoa[contatoId="${item?.id}"]`)[0] == undefined){
                row.find('.contatos-pessoa').append(`
                    <div class="row contatos-salvos row-contato" style="margin-top: 10px;" contatoId="${item?.id}" ${item?.id ? '' : 'isNew'}>
                        <div class="col-3">
                            <div class="tipo-contato">${tipoToString(item?.tipo)}</div>
                        </div>
                        <div class="col-5">
                            <div class="descricao-contato">${item?.descricao}</div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-info edit-contato">Editar</button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-danger remover-contato">Remover</button>
                        </div>
                    </div>
                `)
            }
        }

        function tipoToString(tipo){
            return tipo == 0 ? 'Telefone' : 'Email'
        }

        function tipoToValue(tipo){
            if(tipo == 'Telefone')
                return 0

            if (tipo == 'Email')
                return 1
        }

        function generatePessoa(item){
            if($(document).find(`.row-pessoa[idPessoa="${item?.id}"]`)[0] == undefined){
                $('.accordion').append(`
                    <div class="accordion-item row-pessoa" idPessoa="${item?.id}" loaded="0">
                        <h2 class="accordion-header" id="panelsStayOpen-heading-${item?.id}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-${item?.id}" aria-expanded="false" aria-controls="panelsStayOpen-${item?.id}">
                                <div style="min-width: 70%;">
                                    <div class="nome-pessoa">${item?.nome}</div>
                                </div>
                                <div style="margin-left: 18px;" class="cpf-pessoa">
                                    ${item?.cpf}
                                </div>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-${item?.id}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-${item?.id}">
                            <div class="accordion-body">
                                <div style="margin-bottom: 14px;">
                                    <button type="button" class="btn btn-success novo-contato">Novo contato</button>
                                    <button type="button" class="btn btn-danger remover-pessoa" style="float: right; margin-left: 8px;">Remover pessoa</button>
                                    <button class="btn btn-info edit-pessoa" style="float: right;">Editar pessoa</button>
                                </div>
                                <div class="overflow-auto overflow-y-hidden" style="max-height: 24vh;">
                                    <div class="contatos-pessoa container-fluid">
                                        <div class="row turno-dia" style="position: sticky; top: 0; margin-bottom: 12px; background-color: white;">
                                            <div class="col-3">
                                                Tipo
                                            </div>
                                            <div class="col-5">
                                                Descrição
                                            </div>
                                            <div class="col-2">
                                                Editar
                                            </div>
                                            <div class="col-2">
                                                Remover
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `)
            }
        }

        $(document).on('click', '#gerarNovaPessoa', function(){
            Swal.fire({
            html: `
                <form id="formNovaPessoa">
                    <span>Nome</span>
                    <input value="" class="form-control" id="new-pessoa-nome" required></input>
                    <span>Cpf</span>
                    <input value="" class="form-control" id="new-pessoa-cpf" required></input>
                </form>
            `,
            title: `Nova pessoa`,
            showDenyButton: false,
            showCancelButton: true,
            confirmButtonText: 'Salvar',
            cancelButtonText: `Cancelar`,
            allowEscapeKey: false,
            preConfirm: () => {
                const newPessoaCpfResult = $('#new-pessoa-cpf')
                if(newPessoaCpfResult.val().length < 14){
                    newPessoaCpfResult.val('')
                }
                validateForm($(document).find('#formNovaPessoa'))
                if(!validateForm($(document).find('#formNovaPessoa'))){
                    return false;
                }else{
                    $.ajax({
                        type: "POST",
                        url: 'index.php/pessoas/insertPessoa',
                        data: {
                            nome: $(document).find('#new-pessoa-nome').val(),
                            cpf: $(document).find('#new-pessoa-cpf').val()
                        },
                        success: function(data){
                            if(data.message == 'SUCCESS'){
                                Swal.close();
                                Swal.fire(
                                    `Nova pessoa criada`,
                                    '',
                                    'success'
                                )
                            }else{
                                Swal.close();
                                Swal.fire(
                                    `${data.message}`,
                                    '',
                                    'warning'
                                )
                            }
                            getPessoas()
                            return true
                        },
                        error: function(){
                            Swal.fire(
                                `Erro`,
                                '',
                                'warning'
                            )
                        },
                        dataType: 'json'
                    });
                    Swal.close();   
                }
                return false;
            }})
            $('#new-pessoa-cpf').mask('000.000.000-00', {reverse: true});
        })

        $(document).on('click', '.remover-pessoa', function(){
            const rowPessoa = $(this).parents('.row-pessoa')
            Swal.fire({
                title: `Deseja excluir pessoa ${rowPessoa.find('.nome-pessoa').text()}`,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: `Cancelar`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.getJSON(`index.php/pessoas/removerPessoa?idPessoa=${rowPessoa.attr('idPessoa')}`)
                        .done(function() {
                            Swal.fire('Salvo!', '', 'success')
                            rowPessoa.remove()
                            if($('.row-pessoa').length == 0)
                                getPessoas()
                        })
                        .fail(function() {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erro ao excluir pessoa',
                            })
                        })
                }
            })
        })

        $(document).on('click', '.remover-contato', function(){
            const row = $(this).parents('.row-contato')
            const rowPessoa = row.parents('.row-pessoa');
            Swal.fire({
                title: `Deseja excluir contato: ${row.find('.descricao-contato').text()}`,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: `Cancelar`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.getJSON(`index.php/contatos/removerContato?contatoId=${row.attr('contatoId')}`)
                        .done(function() {
                            Swal.fire('Salvo!', '', 'success')
                            row.remove()
                            if(rowPessoa.find('.contatos-salvos').length == 0){
                                rowPessoa.find('.contatos-pessoa').append(`
                                    <div class="row contatos-salvos ignore" style="margin-top: 10px;">
                                        <div class="col-12 text-center" style="margin-top: 16px;">
                                            Nenhum contato encontrado
                                        </div>
                                    </div>
                                `)
                            }
                        })
                        .fail(function() {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erro ao excluir contato',
                            })
                        })
                }
            })
        })

        $(document).on('click', '.nome-pessoa', function(event) {
            event.stopPropagation();
        });
        $(document).on('click', '.edit-pessoa',function() {
            const row = $(this).parents('.row-pessoa')
            const idPessoa = row.attr('idPessoa')
            const nome = row.find('.nome-pessoa')
            const cpf = row.find('.cpf-pessoa')
            Swal.fire({
                html: `
                    <form id="formEditPessoa">
                        <span>Nome</span>
                        <input value="${nome.text()}" class="form-control" id="edit-pessoa-nome" required></input>
                        <span>Cpf</span>
                        <input value="${cpf.text()}" class="form-control" id="edit-pessoa-cpf" required></input>
                    </form>
                `,
                title: `Editar pessoa`,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: `Cancelar`,
                allowEscapeKey: false,
                preConfirm: () => {
                    const editPessoaCpfResult = $('#edit-pessoa-cpf')
                    if(editPessoaCpfResult.val().length < 14){
                        editPessoaCpfResult.val('')
                    }
                    validateForm($(document).find('#formEditPessoa'))
                    if(!validateForm($(document).find('#formEditPessoa'))){
                        return false;
                    }else{
                        Swal.close();
                        const newNome = $(document).find('#edit-pessoa-nome').val()
                        const newCpf = $(document).find('#edit-pessoa-cpf').val()
                        $.ajax({
                            type: "POST",
                            url: 'index.php/pessoas/editPessoa',
                            data: {
                                id: idPessoa,
                                nome: newNome,
                                cpf: newCpf
                            },
                            success: function(data){
                                if(data.message == 'SUCCESS'){
                                    Swal.fire(
                                        `Alterações salvas!`,
                                        '',
                                        'success'
                                    )
                                    nome.text(newNome)
                                    cpf.text(newCpf)
                                }else{
                                    Swal.close();
                                    Swal.fire(
                                        `${data.message}`,
                                        '',
                                        'warning'
                                    )
                                }
                                return true
                            },
                            error: function(){
                                Swal.fire(
                                    `Erro`,
                                    '',
                                    'warning'
                                )
                            },
                            dataType: 'json'
                        });
                    }
                    return false;
                }
            })

            $('#edit-pessoa-cpf').mask('000.000.000-00', {reverse: true});
        })

        $(document).on('click', '.edit-contato', function(){
            const row = $(this).parents('.row-contato')
            const idPessoa = $(this).parents('.row-pessoa').attr('idPessoa')
            const contatoId = row.attr('contatoId')
            const tipo = row.find('.tipo-contato').text()
            const descricao = row.find('.descricao-contato').text()
            Swal.fire({
                html: `
                    <form id="formEditContato">
                        <span>Tipo</span>
                        <select class="form-control" id="edit-tipo-contato">
                            <option value="0">Telefone</option>
                            <option value="1">Email</option>
                        </select>
                        <span>Descrição</span>
                        <input value="${descricao}" class="form-control" id="edit-pessoa-cpf" required></input>
                    </form>
                `,
                title: `Editar pessoa`,
                showDenyButton: false,
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: `Cancelar`,
                allowEscapeKey: false,
                preConfirm: () => {
                    const newDescricao = $('#edit-pessoa-cpf').val()
                    const newTipo = $('#edit-tipo-contato').val()
                    validateForm($(document).find('#formEditContato'))
                    if(!validateForm($(document).find('#formEditContato'))){
                        return false;
                    }else{
                        Swal.close();
                        $.ajax({
                        type: "POST",
                        url: 'index.php/contatos/editContato',
                        data: {
                            descricao: newDescricao,
                            tipo: newTipo,
                            idPessoa: idPessoa,
                            id: contatoId
                        },
                        success: function(data){
                            if(data.message == 'SUCCESS'){
                                Swal.close();
                                Swal.fire(
                                    `Alterações salvas!`,
                                    '',
                                    'success'
                                )
                                row.find('.tipo-contato').text(tipoToString(newTipo))
                                row.find('.descricao-contato').text(newDescricao)
                            }else{
                                Swal.close();
                                Swal.fire(
                                    `${data.message}`,
                                    '',
                                    'warning'
                                )
                            }
                            return true
                        },
                        error: function(){
                            Swal.fire(
                                `Erro`,
                                '',
                                'warning'
                            )
                        },
                        dataType: 'json'
                    });
                    }
                    return false;
                }
            })
            $('#edit-tipo-contato').val(tipoToValue(tipo))
        })

        function validateForm(form) {
            const firstInvalidField = form.find(":invalid")[0];
            if (firstInvalidField) {
                if (form.find(":invalid").first().prop("required")) {
                    firstInvalidField.setCustomValidity("Preencha este campo.");
                    $(firstInvalidField).one("input", function () {
                        firstInvalidField.setCustomValidity("");
                    });
                }

                form[0].reportValidity();
                return false;
            }
            return true;
        }
    })
</script>
<style>
    body {
        background-color: #f1f1f1;
    }

    .ghost-loading {
        background-image: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: loading 1.5s infinite;
        padding-top: 22px;
        padding-bottom: 22px;
    }
</style>